html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

  color: var(--charm-font-color);
  background: url("/lightnoise.png") repeat scroll 0% 0%
    var(--charm-background-color);

  scroll-behavior: smooth;

  font-feature-settings: normal;
  font-variation-settings: normal;
  font-family:
    "LXGW ZhenKai",
    "LXGW WenKai",
    "Noto Sans TC",
    -apple-system,
    BlinkMacSystemFont,
    MiSans,
    "PingFang SC",
    "Microsoft YaHei",
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif;

  font-size: 18px;
  font-weight: normal;

  text-size-adjust: 100%;
  text-decoration: none;

  line-height: 1.5rem;
  letter-spacing: 0.025em;
}

a {
  color: var(--charm-highlight-color);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

a[data-external]::before {
  content: "🔗";
}

p a,
a.link-animate {
  &::after {
    content: "";
    position: absolute;
    inset: auto 0 0;
    height: 2px;
    opacity: 0.2;
    background-color: var(--charm-highlight-color);
    transform: scaleX(0);
    transform-origin: right;
    transition:
      transform 0.3s ease,
      opacity 0.5s ease;
  }

  &:hover::after {
    opacity: 0.9;
    transform: scaleX(1);
    transform-origin: left;
  }

  &:visited {
    opacity: 0.8;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .anchor {
    margin: 0 0.5rem;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
    visibility: hidden;
    opacity: 0;
  }

  &:hover .anchor {
    visibility: visible;
    opacity: 1;
  }
}

code {
  font-family: "JetBrains Mono", "Fira Code", Monaco, "Courier New", Consolas,
    monospace;
}

pre {
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
}

pre > code *::selection {
  background-color: var(--charm-font-color);
  color: inherit;
}

p {
  margin-top: 1em;
  margin-bottom: 0.25em;

  code {
    background-color: var(--charm-highlight-color);
    color: var(--charm-background-color);
    opacity: 0.85;
    box-sizing: border-box;
    border-radius: 0.25em;

    /* 
    Why make different paddings between top and bottom: 
    on firefox the `::selection` is not in center of the text, (no problem on chrome)
    if make same padding on top and bottom, 
    it will display differently top/bottom padding when select the text.
    */
    padding: 0.06em 0.25em 0.05em;
    font-style: italic;
  }

  code::selection {
    background-color: var(--charm-background-color);
    color: var(--charm-highlight-color);
  }
}

hr {
  border-color: var(--charm-background-color);
  border-style: dashed;
}

ul {
  margin-top: 0.5rem;
}

li {
  margin-top: 0.025em;
}

li::marker {
  content: none;
}

img {
  border-radius: 0.5rem;
}

iframe {
  border-radius: 0.5rem;
  margin-inline: auto;
  max-width: 100%;
}

::selection {
  color: var(--charm-highlight-color);
}

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}

@keyframes pulsate {
  0% {
    opacity: 0.15;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 0.15;
  }
}
