@layer charm {
  :root {
    /* 
        9: "e6",
        8: "cc",
        7: "b3",
        6: "99",
        5: "80",
        4: "66",
        3: "4d",
        2: "33",
        1: "1a",
    */
    --charm-highlight-color: #f66a6a;
    --charm-highlight-color-2: #f66a6a33;
    --charm-highlight-color-1: #f66a6a1a;
    --charm-background-color: #fcfaf2;
    --charm-font-color: #374151;
    --charm-font-light-color: #ffffffe6;
    --charm-github-card-background: #fdfefb;
    --charm-card-background: #fdfefb;
    --charm-card-background-8: #fdfefbcc;
    --charm-contrast-color: #cad6ff;
    --charm-contrast-color-8: #cad6ffcc;
    --charm-contrast-color-5: #cad6ff80;
    --charm-contrast-color-3: #cad6ff4d;
    --charm-contrast-color-2: #cad6ff33;
    --charm-contrast-color-1: #cad6ff1a;

    /* code block */
    --code-block-border-radius: 0.375em;

    &.dark {
      --charm-highlight-color: #e06458;
      --charm-highlight-color-2: #e0645833;
      --charm-highlight-color-1: #e064581a;
      --charm-background-color: #1f2937;
      --charm-font-color: #f3f4f6ee;
      --charm-github-card-background: #1f2937;
      --charm-card-background: #1f2937;
      --charm-card-background-8: #1f2937cc;
      --charm-contrast-color: #3b82f6;
      --charm-contrast-color-8: #3b82f6cc;
      --charm-contrast-color-5: #3b82f680;
      --charm-contrast-color-3: #3b82f64d;
      --charm-contrast-color-2: #3b82f633;
      --charm-contrast-color-1: #3b82f61a;
    }
  }
}
