@layer charm {
  :root {
    /* 
        9: "e6",
        8: "cc",
        7: "b3",
        6: "99",
        5: "80",
        4: "66",
        3: "4d",
        2: "33",
        1: "1a",
    */
    --charm-highlight-color: #e06458;
    --charm-highlight-color-2: #e0645833;
    --charm-highlight-color-1: #e064581a;
    --charm-background-color: #fcfaf2;
    --charm-font-color: #374151;
    --charm-font-light-color: #ffffffe6;
    --charm-github-card-background: #fdfefb;
    --charm-card-background: #fdfefb;
    --charm-contrast-color: #cad6ff;
    --charm-contrast-color-8: #cad6ffcc;
    --charm-contrast-color-5: #cad6ff80;
    --charm-contrast-color-3: #cad6ff4d;
    --charm-contrast-color-2: #cad6ff33;
    --charm-contrast-color-1: #cad6ff1a;

    /* code block */
    --code-block-border-radius: 0.375em;
  }
}
