---
import { HomeLayout } from "charm:layouts";
import PageFindUI from "astro-pagefind/components/Search";

const q = Astro.url.searchParams.get("q") ?? undefined;
---

<HomeLayout useH1>
  <h2>Search</h2>
  <PageFindUI
    id="search"
    className="pagefind-ui"
    query={q}
    uiOptions={{ showImages: false }}
  />
</HomeLayout>
